/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #0E0E0E;
    background-alt: #313131;
    foreground:     #F697FF;
    selected:       #F697FF;
    active:         #F697FF;
    urgent:         #E06B74;
}
