@define-color color1 #EF7627;
@define-color color2 #FF9A56;
@define-color color3 #FAF9F6;
@define-color color4 #D162A4;
@define-color color5 #B55690;
@define-color colorf #1e1e1e;
*{
	font-family: "Ubuntu", "Arimo Nerd Font Mono";
	min-height: 24px;
}


#waybar{
	border-radius: 100px;
	background-color: rgba(30,30,30,0.45);

}

#window{
	background-color: rgba(20,20,20,0.5);
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 15px;
    color: @color3
}

#custom-power {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 4px;
	border-radius: 100px;
        transition: none;
	color: @colorf;
	background: @color5;
}


#clock {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 100px;
	transition: none;
	color: @colorf;
	background: @color1;
	/*background: #1A1826;*/
}

#battery {
    font-size: 17px;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 100px;
	transition: none;
	color: @colorf;
	background: @color4;
}

#pulseaudio {
	margin-top: 4px;
	margin-left: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 100px;
	transition: none;
	color: @colorf;
	background: @color2;
}
