@import url("https://raw.githubusercontent.com/Luiza1011/Lu-dots/main/hypr/Components/waybar/sh_and_css/lesbian-colors.css");

*{
	font-family: "Ubuntu", "Ubuntu Nerd Font";
	min-height: 24px;
}


#waybar{
	border-radius: 7px;
	background-color: rgba(30,30,30,0.45);

}

#window{
	border-radius: 7px;
	background-color: rgba(20,20,20,0.5);
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 15px;
    color: @color3
}




#clock {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 7px;
	transition: none;
	color: @colorf;
	background: @color1;
	/*background: #1A1826;*/
}


#pulseaudio {
	margin-top: 4px;
	margin-left: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 7px;
	transition: none;
	color: @colorf;
	background: @color2;
}

#tray{
	border-radius: 7px;
    margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
    background-color: @color4;
}
