@define-color pink #c50ed2;
@define-color dark_pink #a02ea8;
@define-color blue1 #161925;
@define-color blue2 #181b28;
@define-color yellow #fbf9b6;
@define-color colorf #1e1e1e;
@define-color color3 #FAF9F6;


*{border-radius: 15px;
 	font-family: "Ubuntu", "Ubuntu Nerd Font";
    min-height: 20px;
 }

#waybar{
	border-radius: 7px;
    background-color: rgba(30,30,30,0.45);

}

#taskbar{
    border-radius: 100px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 15px;
    background-color: rgba(10,10,10,0.56);
    color: @color3;
    border: solid 2px;
    border-color: @pink;
	border-style: solid;
}


#workspaces {
    margin-left: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	border-radius: 7px;
    background-color: @blue1;
	color: @yellow;
    border: solid 2px;
    border-color: @pink;
	border-style: solid;
}


#workspaces button {
    font-size: 14px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    background-color: @blue1;
	color: @yellow;

}


#workspaces button.active {
    font-size: 17px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 7px;
    background-color: @blue1;
	color: @yellow;

}

#custom-updater {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 4px;
	border-radius: 7px;
        transition: none;
		background-color: @blue1;
		color: @yellow;
    border: solid 2px;
    border-color: @pink;
	border-style: solid;
}

#custom-power {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 2px;
	margin-right: 8px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 4px;
	border-radius: 7px;
        transition: none;
		background-color: @blue1;
		color: @yellow;
    border: solid 2px;
    border-color: @pink;
	border-style: solid;
}

#custom-cyclewall {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 4px;
	margin-right: 0px;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 4px;
	border-radius: 7px;
        transition: none;
		background-color: @blue1;
		color: @yellow;
    border: solid 2px;
    border-color: @pink;
	border-style: solid;
}

22