/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #1c1c1c;
    background-alt: #FAF9F6;
    foreground:     #5e5e5e;
    selected:       #FAF9F6;
    active:         #1c1c1c;
    urgent:         #E06B74;
}
