@define-color pink #c50ed2;
@define-color dark_pink #a02ea8;
@define-color blue1 rgba(22, 25, 37, 0.4);
@define-color blue2 #181b28;
@define-color yellow #fbf9b6;
@define-color colorf #1e1e1e;
@define-color color3 #FAF9F6;

*{
	font-family: "Ubuntu", "Symbols Nerd Font Mono";
	min-height: 25px;
}


#waybar{
	border-radius: 7px;
	background-color: rgba(30,30,30,0.0);

}

.modules-center{
	border-radius: 100px;
	background-color: rgba(20,20,20,0.5);
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 15px;
    color: @yellow;
	border: solid 2px;
    border-color: rgba(30,30,30,0.45);
	border-style: solid;
}


#custom-media {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 7px;
	transition: none;
	color: @yellow;
	background: @blue1;
	/*background: #1A1826;*/
	border: solid 2px;
    border-color: rgba(30,30,30,0.6);
	border-style: solid;
}

#clock {
	font-size: 17px;
	margin-top: 4px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 7px;
	transition: none;
	color: @yellow;
	background: @blue1;
	/*background: #1A1826;*/
	border: solid 2px;
    border-color: rgba(30,30,30,0.6);
	border-style: solid;
}


#pulseaudio {
	margin-top: 4px;
	margin-left: 2px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 4px;
	border-radius: 7px;
	transition: none;
	color: @yellow;
	background: @blue1;
	border: solid 2px;
    border-color: rgba(30,30,30,0.6);
	border-style: solid;
}

#tray{
	border-radius: 7px;
    margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding-left: 6px;
	padding-right: 6px;
    background-color: @blue1;
	border: solid 2px;
    border-color: rgba(30,30,30,0.6);
	border-style: solid;
}
