#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Sweet-Dark-Hyprland
Comment=hyprland
Exec=Hyprland --config /home/luiza/Lu-dots/Sweet-hypr/hyprland.conf
Icon=hyprland
Type=Application
